<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HMI_25024WE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HMI_25024WE.Properties.Settings>
            <setting name="PathFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="AuxFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PaintedPlate_LaserPower" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PaintedPlate_ScanSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PaintedPlate_Frequency" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PaintedPlate_SpotVariable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaintedPlate_Repetition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PaintedPlate_FillLineInterval" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="LaminatedPlate_LaserPower" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LaminatedPlate_ScanSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LaminatedPlate_Frequency" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LaminatedPlate_SpotVariable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaminatedPlate_Repetition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LaminatedPlate_FillLineInterval" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CultureInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="IP_Marker" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLamined" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerSerialNo" serializeAs="String">
                <value>870251</value>
            </setting>
            <setting name="UseIPConnection" serializeAs="String">
                <value>True</value>
            </setting>
        </HMI_25024WE.Properties.Settings>
    </userSettings>
</configuration>